/* Dark Mode */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url("./assets/bg-mobile.jpg");
  --bg-desktop-url: url("./assets/bg-desktop.jpg");
  --bg-desktop-light-url: url("./assets/bg-desktop-light.jpg");
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url("./assets/moon-stars.svg");
}

.light {
  --text-color: black;
  --bg-url: url("./assets/bg-mobile-light.jpg");
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url("./assets/sun.svg");
}

body {
  background: var(--bg-url) no-repeat top center / cover;
  height: 100vh;
}

body * {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
}

/* main container */
#container {
  width: 100%;
  max-width: 360px;
  margin: 56px auto 0px auto;
  padding: 0 24px;
}

/* profile */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  height: 112px;
  margin-top: 8px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
  position: relative;
}

#profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-self: center;
}

/* switch */
#switch {
  width: 64px;
  position: relative;

  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-out 0.4s forwards;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
  cursor: pointer;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* Links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0px;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1px solid var(--text-color);
}

/*ul icons */

#contato {
  padding-left: 10px;
}

#playlist {
  padding-left: 10px;
}

/* Social Links */
#socialLinks {
  display: flex;
  justify-content: center;
  padding: 24px;

  font-size: 24px;
}

#socialLinks a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;

  transition: background 0.2s;
}

#socialLinks a:hover {
  background: var(--highlight-color);
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  padding: 24px;
  font-size: 14px;
}

footer a {
  text-decoration: underline;
}

/*Media queries*/
@media (min-width: 768px) {
  body {
    background: var(--bg-desktop-url) no-repeat top center / cover;
    height: 100vh;
  }
  .light body {
    background: var(--bg-desktop-light-url) no-repeat top center / cover;
    height: 100vh;
  }
}

/*Animations*/
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
